.footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: rem(56px);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add shadow to the footer */
  background-color: var(--mantine-color-body); /* Ensure footer background color changes based on theme */
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(16px); /* Added padding for better spacing */
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}